<!-- 
    Yuri Bilyarov M00697420
    github repository: https://github.com/YuriBilyarov/cst3145-cw1
    try it on github pages: https://yuribilyarov.github.io/cst3145-cw1/    
-->
<!DOCTYPE html>
<html>

<head>
    <title>After School Club</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>After School Club</h1>
            <button @click="switchView()" v-bind:disabled="cartItemCount<1">
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span>
                Checkout
            </button>
        </header>
        <br>
        <div id="shopping" v-if="showLessons">
            <input type="text" v-model="searchInput" @keyup="populateResultArray()" placeholder="Search lessons">
            <div class="sortedBy">sorted by
                <select class="sortingFont" v-model="filter" @change="populateResultArray()">
                    <option value="topic">Topic</option>
                    <option value="location">Location</option>
                    <option value="price">Price</option>
                    <option value="available_space">Space</option>
                </select>

                <input type="radio" id="asc" value="asc" v-model="sortDirection" @change="populateResultArray()">
                <label for="ascending">Ascending</label>
                <input type="radio" id="desc" value="desc" v-model="sortDirection" @change="populateResultArray()">
                <label for="descending">Descending</label>
            </div>
            <br><br>
            <div v-for="lesson in lessons">
                <img v-bind:src="getImage(lesson.image)" height="150">
                <h2>{{lesson.topic}} <span v-bind:class="getFontAwesomeIcon(lesson)"></span></h1>
                    <p>Location: {{lesson.location}}</p>
                    <p>Price: £{{lesson.price}}</p>
                    <p>Spaces: {{lesson.available_space}}</p>
                    <button @click="addToCart(lesson.id)" v-bind:disabled="!canAddToCart(lesson)">Add to cart</button>
                    <br><br>
            </div>
        </div>
        <div v-else>
            <h2>___Cart___</h2>
            <div v-for="item in listOfCartQuantitiesForIds">
                <div v-for="lesson in lessons">
                    <span v-if="item.id === lesson.id && item.amountInCart >= 1">
                        <img v-bind:src="getImage(lesson.image)" height="150">
                        <h2>{{lesson.topic}}</h1>
                            <p>Location: {{lesson.location}}</p>
                            <p>Price: £{{lesson.price}}</p>
                            <p>Quantity: {{item.amountInCart}}</p>
                            <button @click="removeFromCart(lesson.id)">Remove from cart</button>
                    </span>
                </div>
            </div>
            <div id="checkoutForm">
                <h2>___Checkout___</h2>
                <strong>Full Name: </strong>
                <input type="text" v-model="order.name">
                <strong>Phone Number: </strong>
                <input v-model="order.phoneNumber">
                <button @click="completeCheckout()" v-bind:disabled="!this.canCheckout">Checkout</button>
            </div>
        </div>
    </div>

    <script>

        let app = new Vue({

            el: '#app',
            data: {
                showLessons: true,
                lessons: [],
                cart: [],
                filter: "price",
                sortDirection: "asc",
                order: {
                    name: "",
                    phoneNumber: "",
                },
                searchInput: "",
            },
            methods: {
                addToCart(id) {
                    this.cart.push(id);
                    let index = this.lessons.findIndex((obj => obj.id == id));
                    this.lessons[index].available_space = this.lessons[index].available_space - 1;
                },
                canAddToCart(lesson) {
                    let spaces = lesson.available_space;
                    return spaces > 0;
                },
                getItemCount(id) {
                    let counter = 0;
                    for (i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            counter++;
                        }
                    }
                    return counter;
                },
                removeFromCart(id) {
                    const cartIndex = this.cart.indexOf(id);
                    const lessonsIndex = this.lessons.findIndex((obj => obj.id == id));
                    if (cartIndex > -1) {
                        this.cart.splice(cartIndex, 1);
                        this.lessons[lessonsIndex].available_space = this.lessons[lessonsIndex].available_space + 1;
                    }
                    if (this.cart.length === 0) {
                        this.switchView();
                    }
                },
                switchView() {
                    this.showLessons = this.showLessons ? false : true;
                },
                completeCheckout() {
                    this.orderAndUpdate();
                    alert("Checkout Complete");
                },
                populateResultArray() {
                    fetch(this.fetchString()).then(
                    function (response) {
                        response.json().then(
                            function (lessons) {
                                app.lessons = lessons;
                            });
                    })
                },
                createNewOrder(orderObject){
                    fetch('https://cst3145-booking-system.herokuapp.com/collection/order'
                        , {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(orderObject), 
                        })
                        .then(response => response.json())
                        .then(responseJSON => {
                            console.log('Success:', responseJSON);
                        });
                },
                createLessonOrder(id, amountInCart){
                    let newOrder = {
                        name: app.order.name,
                        phone_number: app.order.phoneNumber,
                        lesson_id: id,
                        space: amountInCart
                    };
                    this.createNewOrder(newOrder);  
                },
                updateLessonSpaces(id, newSpaceAmount){
                    fetch('https://cst3145-booking-system.herokuapp.com/collection/lesson/' + id
                        , {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                "available_space": newSpaceAmount
                            }),
                        })
                        .then(response => response.json())
                        .then(responseJSON => {
                            console.log('Success:', responseJSON);
                        });
                },
                updateSpecificLessonSpaces(id){
                    let index = this.lessons.findIndex((obj => obj.id == id));
                    this.updateLessonSpaces(id, this.lessons[index].available_space)
                },
                orderAndUpdate(){
                    for(i = 0; i < this.listOfCartQuantitiesForIds.length; i++){
                        let id = this.listOfCartQuantitiesForIds[i].id;
                        let amountInCart = this.listOfCartQuantitiesForIds[i].amountInCart;
                        if(amountInCart > 0){
                            this.createLessonOrder(id, amountInCart);
                            this.updateSpecificLessonSpaces(id);
                        }
                    }
                    this.cart = [];
                    this.showLessons = true;
                },
                getFontAwesomeIcon(lesson) {
                    return lesson.font_awesome_icon;
                },
                getImage(imageName){
                    return "https://cst3145-booking-system.herokuapp.com/" + imageName;
                },
                fetchString() {
                    if(this.searchInput == ""){
                        return 'https://cst3145-booking-system.herokuapp.com/collection/lesson/' + this.filter + '/' + this.sortDirection;
                    } else {
                        return 'https://cst3145-booking-system.herokuapp.com/collection/lesson/' + this.searchInput + '/' + this.filter + '/' + this.sortDirection;
                    }
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
                allItemIds() {
                    let ids = [];
                    for (i = 0; i < this.lessons.length; i++) {
                        ids.push(this.lessons[i].id);
                    }
                    return ids;
                },
                listOfCartQuantitiesForIds() {
                    let ids = this.allItemIds;
                    let result = [];
                    for (i = 0; i < ids.length; i++) {
                        let counter = 0;
                        for (j = 0; j < this.cart.length; j++) {
                            if (ids[i] === this.cart[j]) {
                                counter++;
                            }
                        }
                        result.push({
                            id: ids[i],
                            amountInCart: counter
                        });
                    }
                    return result;
                },
                canCheckout() {
                    if (/^[a-zA-Z]+$/.test(this.order.name) && /^\d+$/.test(this.order.phoneNumber)) {
                        return true;
                    } else {
                        return false;
                    }
                },
            },
            created: function(){
                this.populateResultArray();
            }
        });
    </script>
</body>

</html>